.back{
box-sizing: border-box;
position: absolute;
width: 100%;
height: 100%;
left: 0px;
top: 0px;

background: #F4FFFF;
border: 0.3px solid #000000;
}

.bvn{
position: center;
margin-top: 15%;
font-family: 'Lexend Exa';
font-style: normal;
font-weight: 30%;
font-size: 50px;
text-align: center;
color: #000000;
}

.deux{
position: center;
font-family: 'Lexend Exa';
font-style: normal;
font-weight: 30%;
font-size: 20px;
text-align: center;
color: #000000;
}

.box{
box-sizing: border-box;
margin: auto;
position: center;
width: 10%;
background: #FFFFFF;
border: 0.1px solid #000000;
box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
.navlink{
    font-family: 'Lexend Exa';
    position:center;
    padding: 30%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: #FF0000; 
}

.centrer{
    position : center;
    margin-left: 500px;
}

.solde{
    font-family: 'Lexend Exa';
    margin: auto;
    padding-top: 1%;
}

.button{
    box-sizing: border-box;
    margin: auto;
    position: center;
    width: 10%;
    background: #FFFFFF;
    border: 0.1px solid #000000;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;  
}

.leh1{
    font-family: 'Lexend Exa';
    font-style: normal;
    font-weight: 30%;
    font-size: 50px;
    color: #000000;
}

.leh5{
    font-family: 'Lexend Exa';
    font-style: normal;
    font-weight: 10%;
    font-size: 20px;
    color: #000000;
}